.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 24px;
}

.gallery-card {
  height: 300px;
  overflow: hidden;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 48px) / 3);
  height: 100%;
  transition: transform 0.5s linear;
  text-align: center;
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: antiquewhite;
}

.gallery-item:hover {
  transform: scale(1.05)
}

.gallery-link {}

.gallery-image {
  width: 100%;
  height: 300px;

  /*  */
  object-fit: cover;
  border-radius: 4px;
}

.descr {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.descr-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descr-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: .04em;
  color: #2e2f42;
}

.descr-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: .04em;
  color: #2e2f42;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 18px;
  background-color: #fff;
  opacity: 0.5;
  max-width: 360px;
  border-radius: 4px;
  transition: opacity 500ms ease-in-out;
}


.form:hover {
  opacity: 1;
}

.input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  margin-top: 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #6c8cff;
}

input::placeholder {
  padding-left: 8px;
  font-size: 14px;
}

input:hover {
  border: 1px solid #000;
}

input:focus {
  border: 2px solid #4e75ff;
}